//fonts 
$project-font: "Space Mono","Lexend Deca";

//font-size
$font-size:16px;

//line-height
$line-height:1.5;
//container-witdh
$container-width:1400px;

// color
$project-color: #FCB72B, #495567,#939CAA,#E5ECF4, #F2F5F9, #FFF4DF;