.section4{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
padding: 0;
padding: 102px 165px;
width: 1440px;
height: 300px;
margin: 0 auto;
background-image: url("..//../img/Mask.png");
background-repeat: no-repeat;
background-size: 1440px 300px;
background-position: center;
}
.section4-hed{
margin: 0;
padding: 0;
width: 415px;
height: 96px;
font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #FFFFFF;

}
